<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<log4net>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file type="log4net.Util.PatternString" value="..\..\Logs\%property{LogFileName}.log"/>
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<preserveLogFileNameExtension value="true" />
			<datePattern value="_MM-dd-yyyy" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="25MB" />
			<staticLogFileName value="false" />
			<countDirection value="1"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5level %date %logger - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
	</log4net>
</configuration>